.dayContainer {
  list-style: none;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow: hidden;
  padding: 0 3px;
  height: 100%;
  width: auto;
  flex-shrink: 0;
}

.dayBox {
  display: block;
  width: 4.4rem;
  height: 4.4rem;
  font-size: 1.5rem;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  padding: 0.5rem 0.3rem 0.3rem 0.3rem;
}

.dayNum {
  font-size: 2rem;
  text-align: center;
}

.dayWeek {
  font-size: 1rem;
  margin-top: -2px;
  text-align: center;
}
