.container {
  background: #fff;
  z-index: 5001;
  position: absolute;
  box-shadow: 0px -5px 5px -2px rgb(0 0 0 / 10%);
  height: 50px;
  width: 100%;
  bottom: 0;
  left: 0;
}

.footerBox {
  padding: 0 20px;
  height: auto;
  top: 0;
  position: absolute;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  align-items: center;
  align-content: center;
  overflow: hidden;
}

.menu {
  color: #000000;
  padding-top: 7px;
  padding-bottom: 7px;
  height: 100%;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  justify-content: center;
  flex-shrink: 1;
  position: relative;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.menuIcon {
  height: 45px;
  width: 45px;
  opacity: 0.5;
}

.btn-active {
  opacity: 1;
}
