.container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  width: 100vw;
  height: 50px;
  justify-content: center;
  border-bottom: 1px solid rgb(236, 236, 236);
}

.menuList {
  padding: 0 20px;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  box-sizing: border-box;
}

.menu {
  font-size: 1rem;
  padding: 0.1rem 0.6rem;
  box-sizing: border-box;
  white-space: nowrap;
  text-align: center;
  line-height: 50px;
  font-weight: 500;
}
